{% extends "AppCoder/madre.html" %}

{% load static %}


{% block contenido %}

<br>

<div class="text-center">

<p class="lead fw-normal text-muted mb-5">1 2 3 Action.</p>
<h2 class="fw-bolder">Bienvenido/a/e</h2>
<p class="lead fw-normal text-muted mb-5">Andá preparando los pochoclos.</p>
<img src="https://c.tenor.com/fcJ6LIflCZ0AAAAd/loaded-weapon-fire.gif">
<br>
<br>
<br>
<h3 class="fw-bolder">¡Nos interesan tus recomendaciones!</h3>
<p class="lead fw-normal text-muted mb-5">Entrá
    <a href="{% url 'peliFormulario' %}">acá</a>
    y recomendanos tus películas favoritas.</p>
<p>-------------------------------------------</p>
</div>


{% endblock %}