{% extends "AppCoder/postmadre.html" %}

{% load static %}


{% block contenidopost %}








<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">Ricardo Fort</div>
                        <div class="text-muted">Noticias</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">¿Cuando se estrena The Matrix Resurrections?</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Diciembre 10, 2021</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Noticias</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"></a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil facilis error quo, nemo molestias, ipsum minima ullam earum tempora incidunt dicta accusantium laudantium doloribus ducimus mollitia totam inventore magnam distinctio?</p>
                        <p class="fs-5 mb-4">BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA</p>
                        <p class="fs-5 mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore dignissimos cupiditate eum similique quos non asperiores error quod velit eveniet, voluptatum maxime iusto, sit numquam, ex aut omnis repellendus in?</p>
                        <h2 class="fw-bolder mb-4 mt-5">Expectativas</h2>
                        <p class="fs-5 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro esse eaque sint facilis adipisci eligendi molestias modi atque tempora debitis obcaecati voluptas reprehenderit soluta, minus nostrum quod, dolores fugiat sunt.</p>
                        <p class="fs-5 mb-4">BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA<br>
                        BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA</p>
                    </section>
                </article>
                <!-- Comments section-->










                
            </div>
        </div>
    </div>
</section>
</main>









{% endblock %}