{% extends "AppCoder/postmadre.html" %}

{% load static %}


{% block contenidopost %}








<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">Usuario 2</div>
                        <div class="text-muted">Alert Spoiler</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Tercera trilogía de Star Wars</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Diciembre 14, 2021</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Alert Spoiler!</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">‘Star Wars: El ascenso de Skywalker’ no reniega de 'Los últimos jedi': es una conclusión orgánica de la última trilogía</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://i.blogs.es/6d089c/rise-skywalker-poster10/1366_2000.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Como era de esperar, el estreno de ‘Star Wars: el ascenso de Skywalker’ (Rise of Skywalker, 2019) ha vuelto a crear un polvorín entre los fans y los no fans de la saga, pero especialmente entre los amantes de la anterior entrega y los que no le tienen mucho aprecio, dejando que la crítica haya sido no solo menos benevolente sino especialmente destructiva e insidiosa. Algo que contrasta, claro, con la reacción de los fans. </p>
                        <p class="fs-5 mb-4">Y es que los fans, ese ente que cada uno que da su opinión convierte en su hydra particular, son los que están recibiendo, en realidad, la mayor parte de los palos, porque según muchos análisis son el elemento tóxico que ha convertido el Episodio IX en la película más discutida, odiada y peligrosa para la paz mundial del año. En realidad, lo que se puede observar, es la misma pataleta vehemente de siempre, ahora por parte de los que consideran la Star Wars de Rian Johnson una pieza magistral (sic).</p>
                        <p class="fs-5 mb-4"></p>
                        <h2 class="fw-bolder mb-4 mt-5">SPOILERS EN TODO EL TEXTO</h2>
                        <p class="fs-5 mb-4">La venganza de los warsies

                            Antes de entrar en analizar por qué ‘El ascenso de Skywalker’ es una gran película de aventuras espaciales, independientemente de lo que haga bien con respecto a la anterior o no, es conveniente hacer un cierto balance de por dónde van los tiros de las críticas al film de Abrams. Muchos apreciaron el valiente intento de Rian Johnson de expandir la saga y convertirla en un espectáculo más polivalente, con humor y unas supuestas rupturas con mandamientos de la saga que están más en la cabeza de algunos que en ninguna tabla de la ley.</p>
                        <p class="fs-5 mb-4">El primer problema es considerar que ‘Los últimos Jedi’ es una obra maestra incontestable por el simple hecho de tratar de desmantelar elementos clásicos y “dogmas”. La película tenía muchas virtudes y un final emocionante y arriesgado, pero también había subtramas de relleno que no funcionaban, ni en sí mismas ni como recurso para desarrollar nada en lo que, no olvidemos, es una historia en tres partes. De hecho, se mostraba más conservadora de lo que se dice, volviendo a los peores tics digitales de George Lucas con Casinos y estampidas CGI. <br>
                        BEn el texto de arriba analizaba esto con profundidad, pero la idea principal es que muchos de sus avances tan solo eran exposiciones, no nada definitivo, y muchas de ellas han creado caminos en la cabeza diferentes a lo que realmente se muestra en pantalla. Por ello, las mayores críticas a ‘El ascenso de Skywalker’ se centran en como “dinamita” todo lo que supuestamente dinamitó el VIII, pero siendo llevado a extremos en los que se reinterpretan o malinterpretan aspectos de ambas películas. </p>
                    </section>
                </article>
                <!-- Comments section-->










                
            </div>
        </div>
    </div>
</section>
</main>


{% endblock %}
