{% extends "AppCoder/postmadre.html" %}

{% load static %}


{% block contenidopost %}








<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">Usuario 3</div>
                        <div class="text-muted">Noticias</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">El Señor de los Anillos: La Comunidad del Anillo es elegida la mejor película de todos los tiempos en encuesta</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Noviembre 30, 2021</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Noticias</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">La Comunidad del Anillo tiene un lugar muy especial en los corazones de millones de fans.</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://cl.buscafs.com/www.tomatazos.com/public/uploads/images/351526/351526_1140x516.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">No es ningún secreto que la trilogía de El Señor de los Anillos a cargo de Peter Jackson es una de las más queridas de todos los tiempos. La fantasía en pantalla grande no ha podido ser superada desde entonces y nadie se atreve a hacerlo en realidad. La revista Empire le preguntó a varios de sus lectores por sus películas favoritas, aquellas que los hicieran sentir en su zona de confort, les volaran la mente y les impulsaran hacia nuevas perspectivas. La lista final incluye cien títulos pero El Señor de los Anillos: La Comunidad del Anillo - 91% es la que ocupa el puesto número uno.</p>
                        <p class="fs-5 mb-4">Estrenada en 2001 tras un rodaje de 14 meses que abarcó las tres películas, La Comunidad del Anillo representó el inicio de una aventura que marcaría para siempre la historia del cine. El destino de Frodo es destruir el Anillo Único en los fuegos del Monte del Destino, pero no lo hará sólo y recibe la ayuda de un interesante grupo de compañeros. Este viaje nació gracias a la mente de J.R.R. Tolkien pero fue llevado hasta el cine gracias a Jackson, obteniendo trece nominaciones y ganando cuatro.</p>
                        <p class="fs-5 mb-4">De las cien mejores películas de todos los tiempos que han sido incluidas en la lista de Empire, La Comunidad del Anillo se lleva el primer lugar por mayoría de votos y no podríamos estar más de acuerdo. El medio informativo coloca sobre la mesa algunos argumentos que la hace superior a sus predecesoras:</p>
                        <h2 class="fw-bolder mb-4 mt-5">"Las Dos Torres tiene la batalla más genial. El Retorno del Rey cuenta con el espectáculo operístico más loco. Pero La Comunidad sigue siendo la más perfecta de las tres, combinando cada ritmo de acción genial con uno emocional y conmovedor, ya que la pandilla que atraviesa la Tierra Media aumenta de tamaño en el primer acto y luego disminuye en el tercero. Este extraño escuadrón suicida tiene tanta calidez e ingenio que no solo son creíbles como amigos el uno del otro, sino que también llegamos a sentir que son nuestros amigos."</h2>
                        <p class="fs-5 mb-4">La Comunidad del Anillo es una obra magistral que representa la vara más alta de la fantasía en el cine. Algunos ingenuos podrían no estar de acuerdo en que es la mejor, colocando a otras por encima, no obstante, basta una sola mirada (con el alma y no la vista) para tener la certeza de que estamos ante uno de los elementos más valiosos que nos ha dado el arte cinematográfico. Empire concluye su revisión de la película con algunas palabras cálidas:</p>
                        <p class="fs-5 mb-4">Una obra maestra profusamente detallada con un corazón enorme y palpitante, es la película adecuada para nuestro tiempo, llena de destreza, convicción y la creencia de que caminar con dificultad, paso a paso, en días oscuros es el acto más valiente de todos. Sus héroes definitivos no son los más fuertes, ni los que tienen las mejores frases de una sola línea, sino los que siguen adelante. Y así perdura La Comunidad: un milagro de la narración, una hazaña cinematográfica y sigue siendo el estándar de oro para las experiencias del séptimo arte.<br>
                            Amazon quiere traer de regreso a la Tierra Media con una serie que abarcará los días más altos y negros de Númenor, una superproducción que ya es más costosa que Game of Thrones - 59% y que tiene la intención de convertirse en el centro de todo el siguiente año. ¿Podrá estar a la altura de la trilogía de Jackson o se verá menguada por una mala escritura u otros motivos? De acuerdo con la empresa, se estrena el 1 de septiembre de 2022.</p>
                    </section>
                </article>
                <!-- Comments section-->










                
            </div>
        </div>
    </div>
</section>
</main>


{% endblock %}
