{% extends "AppCoder/postmadre.html" %}

{% load static %}


{% block contenidopost %}








<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">Usuario 1</div>
                        <div class="text-muted">Sin Spoiler</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">The Matrix Resurrections</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Diciembre 10, 2021</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Sin Spoiler</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Todo lo que debes saber sobre ‘Matrix Resurrections’ a puertas de su estreno mundial</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://peru21.pe/resizer/g66OjtPDGnSyQA5Q4og_vh-7QeE=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/4D72MVHFM5HT3KXEOKZED6DOX4.webp" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">La cuarta entrega de una de las sagas más populares y queridas del cine llegará a los cines este miércoles 22 con Keanu Reeves y Carrie-Ann Moss como protagonistas.</p>
                        <p class="fs-5 mb-4">Como si se negara a tomar la píldora roja de Matrix para enfrentar la realidad, Hollywood mira al pasado para rescatar sus formatos más famosos: ahora es el turno de la saga de ficción protagonizada por Keanu Reeves, que regresa con un título tan apropiado como ‘Matrix Resurrections’.</p>
                        <p class="fs-5 mb-4">“No lo sé, parece que es lo que los humanos hacen. No se reinician ni se reciclan pero vuelven a visitar el pasado, es interesante”, analiza Reeves con la agencia EFE por su retorno a la saga de las hermanas Wachowski, más de 20 años después del estreno de la primera película.</p>
                        <h2 class="fw-bolder mb-4 mt-5">Expectativas</h2>
                        <p class="fs-5 mb-4">En un momento tan complicado y turbulento como el actual, parece que los grandes estudios cinematográficos están enganchados a la pastilla azul que introdujo la cinta original y viven en la prisión de la nostalgia. Todo vuelve. Hay reencuentros de “Friends”, “Harry Potter”, nuevas temporadas de “Sex and the City” y secuelas de “Ghostbusters”.</p>
                        <p class="fs-5 mb-4">“Esa nostalgia nos ancla a veces. Nos hace sentir como si no estuviéramos flotando a través del universo. Te recuerda que te mantienes un poco firme y te hace sentir mucho mejor, más conectado”, responde por su parte Carrie-Ann Moss, la eterna compañera de reparto de Reeves en esta saga.<br>
                            Así, tanto Reeves como Moss admiten que ellos tamién sintieron las ganas de volver a los personajes que encarnaron por primera vez en 1999 con “The Matrix” para continuar la historia exactamente en el punto dónde se dejó tras tres entregas sucesivas.</p>
                    </section>
                </article>
                <!-- Comments section-->










                
            </div>
        </div>
    </div>
</section>
</main>









{% endblock %}