
{% extends "AppCoder/madre.html" %}

{% load static %}


        {% block contenido %}

        <br>
        <br>
        <br>

        <div class="text-center">

        <h2 class="fw-bolder">Registrate</h2>
        <p class="lead fw-normal text-muted mb-5">Registrate para acceder a nuevas posibilidades.</p>

        <form action="/AppCoder/userFormulario/" method="POST">{% csrf_token %}
            <!--
            <p>Nombre: <input type="text" name="nombre")></p>
            <p>Edad: <input type="number" name="edad")></p>
            <p>Direccion:  <input type="text" name="direccion")></p>
            <p>FechaNacimiento: <input type="datetime" name="fechaNacimiento")></p>
            -->

            <table>

                {{miFormulario.as_table}}


            </table>
           

            <input type="submit" value="Registrar">





        </form>

        </div>

        {% endblock %}




        