
{% extends "AppCoder/madre.html" %}

{% load static %}


        {% block contenido %}
        <h1 class="mb1">Formulario de Usuario</h1>
        <p>Ingrese sus Datos o largo de aqui.</p>

        <form action="/AppCoder/userFormulario/" method="POST">{% csrf_token %}
            <!--
            <p>Nombre: <input type="text" name="nombre")></p>
            <p>Edad: <input type="number" name="edad")></p>
            <p>Direccion:  <input type="text" name="direccion")></p>
            <p>FechaNacimiento: <input type="datetime" name="fechaNacimiento")></p>
            -->

            <table>

                {{miFormulario.as_table}}


            </table>
           

            <input type="submit" value="Registrar">





        </form>



        {% endblock %}




        